api_akisi.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitap-ligi-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2bc618d-65ae-4719-85d8-a67e4473e546",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2064,
        4800
      ],
      "webhookId": "e97bdbb2-0c89-45db-88bc-4657a3bcdfa1"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "fetch_book_by_isbn"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "11a69b83-f1be-4c85-803d-4593de68d966",
      "name": "Action Yönlendirici",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2320,
        4784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.title, b.author, b.category, e.page_count, e.thumbnail_url FROM k_t_book_editions e JOIN k_t_books b ON e.book_id = b.id WHERE e.isbn = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.body.data ? $json.body.data.isbn : $json.body.isbn] }}"
        }
      },
      "id": "49f712c5-e2a9-48fa-859d-1b1692cb69a5",
      "name": "Lokal DB Kontrolü",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2560,
        4608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "chKvdYJk3OigwSvo",
          "name": "n8n_test"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "744d8912-263c-49c0-966f-bccc32675108",
      "name": "Bizde Var Mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2768,
        4608
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json && $json.title ? { status: 'success', source: 'local', data: { title: $json.title || '', author: $json.author || '', page_count: Number($json.page_count) || 0, thumbnail_url: $json.thumbnail_url || '', category: $json.category || 'Diğer', isbn: $('Action Yönlendirici').item.json.body.data ? $('Action Yönlendirici').item.json.body.data.isbn : $('Action Yönlendirici').item.json.body.isbn } } : $json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d0afa0be-cbea-41dc-b136-7f4d1efdf8dc",
      "name": "Lokalden Dön",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3008,
        4480
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/books/v1/volumes?q=isbn:{{ $('Action Yönlendirici').item.json.body.data ? $('Action Yönlendirici').item.json.body.data.isbn : $('Action Yönlendirici').item.json.body.isbn }}",
        "options": {}
      },
      "id": "3908f8eb-26cb-4ddf-ac6f-effd9bfc439c",
      "name": "Google Books API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3008,
        4688
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const isbn = $('Action Yönlendirici').item.json.body.data ? $('Action Yönlendirici').item.json.body.data.isbn : $('Action Yönlendirici').item.json.body.isbn;\nlet book = { isbn: isbn, title: '', author: '', page_count: 0, thumbnail_url: '', category: 'Diğer' };\n\nconst gData = $input.all()[0].json;\nif (gData && gData.totalItems > 0) {\n  const info = gData.items[0].volumeInfo;\n  book.title = info.title || '';\n  book.author = info.authors ? info.authors.join(', ') : '';\n  book.page_count = info.pageCount || 0;\n  book.thumbnail_url = info.imageLinks ? (info.imageLinks.thumbnail || info.imageLinks.smallThumbnail) : '';\n  if (info.categories && info.categories.length > 0) book.category = info.categories[0];\n}\nreturn [{ json: book }];"
      },
      "id": "f04834af-d2a1-4ddc-b804-e237b8666d6c",
      "name": "Google Verisi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        4688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.title != '' && $json.thumbnail_url != '' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "17342fe9-a6c3-4efb-89a8-74850e96ba17",
      "name": "Google Yeterli Mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3440,
        4688
      ]
    },
    {
      "parameters": {
        "url": "=https://www.kitapyurdu.com/index.php?route=product/search&filter_name={{ encodeURIComponent($json.title != '' ? $json.title : $json.isbn) }}",
        "options": {
          "redirect": {}
        }
      },
      "id": "193def6c-adce-4be8-8b6f-660ef1f50db0",
      "name": "Kitapyurdu Arama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3648,
        4832
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const html = $input.all()[0].json.data || \"\";\nlet book = $('Google Verisi').item.json; // Google'ın bulduklarını (varsa) taşı\n\nlet coverUrl = book.thumbnail_url;\nlet title = book.title;\n\n// Kitapyurdu Kapak Arama\nconst gridImgMatch = html.match(/class=\"ky-product-cover\"[^>]*>\\s*<img src=\"([^\"]+)\"/is);\nconst sliderImgMatch = html.match(/class=\"searched-product\"[^>]*>\\s*<img src=\"([^\"]+)\"/is);\nconst classicImgMatch = html.match(/<div class=\"image\">\\s*<a[^>]*>\\s*<img src=\"([^\"]+)\"/is);\n\nif (gridImgMatch && gridImgMatch[1]) coverUrl = gridImgMatch[1].trim();\nelse if (sliderImgMatch && sliderImgMatch[1]) coverUrl = sliderImgMatch[1].trim();\nelse if (classicImgMatch && classicImgMatch[1]) coverUrl = classicImgMatch[1].trim();\n\nif (coverUrl) coverUrl = coverUrl.replace(/&amp;/g, '&');\n\n// Eğer Google başlığı da bulamadıysa Kitapyurdu'ndan başlık al\nif (!title) {\n  const titleMatch = html.match(/<h1[^>]*class=\"pr_header__heading\"[^>]*>([^<]+)<\\/h1>/is) || html.match(/<div class=\"name\"[^>]*>\\s*<a[^>]*>([^<]+)<\\/a>/is);\n  if (titleMatch && titleMatch[1]) title = titleMatch[1].trim();\n}\n\nbook.thumbnail_url = coverUrl;\nbook.title = title;\n\nreturn [{ json: book }];"
      },
      "id": "ed9167e2-b57a-497f-8c24-8fb6cac5e7be",
      "name": "Kitapyurdu Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        4832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.title != '' && $json.thumbnail_url != '' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0ee28138-79b3-4aec-86ba-d4b838cd1e24",
      "name": "Kitapyurdu Yeterli Mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4048,
        4832
      ]
    },
    {
      "parameters": {
        "url": "=https://www.dr.com.tr/search?q={{ $json.isbn }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8c8e514b-a925-402b-93d9-7b3e3a7da976",
      "name": "D&R Arama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4272,
        4960
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const html = $input.all()[0].json.data || \"\";\nlet book = $('Kitapyurdu Format').item.json; // Önceki tüm veriyi taşı\n\nlet coverUrl = book.thumbnail_url;\nlet title = book.title;\nlet author = book.author;\n\n// 1. D&R Kapak Resmi Arama (YENİ STRATEJİ)\n// Strateji A: Sayfanın arkasındaki gizli yapılandırılmış veriyi (JSON-LD) oku (En güveniliri)\nconst jsonLdMatch = html.match(/\"image\"\\s*:\\s*\\[\\s*\"([^\"]+)\"/is);\n// Strateji B: Resim tag'ini sıradan bağımsız oku (Eğer A çalışmazsa)\nconst imgTagMatch = html.match(/<img\\s+(?=[^>]*?js-prd-first-image)[^>]*?src=['\"]([^'\"]+)['\"]/is);\n\nif (jsonLdMatch && jsonLdMatch[1]) {\n  coverUrl = jsonLdMatch[1].trim();\n} else if (imgTagMatch && imgTagMatch[1]) {\n  coverUrl = imgTagMatch[1].trim();\n}\n\nif (coverUrl && coverUrl.startsWith('//')) {\n   coverUrl = 'https:' + coverUrl;\n}\n\n// 2. D&R Başlık Arama\nif (!title) {\n  const drTitleMatch = html.match(/class=['\"]?[^'\"]*js-text-prd-name[^>]*>([^<]+)<\\/h1>/is) || \n                       html.match(/<h1[^>]*class=\"[^\"]*product-name[^\"]*\"[^>]*>([^<]+)<\\/h1>/is);\n  if (drTitleMatch && drTitleMatch[1]) {\n    title = drTitleMatch[1].trim();\n  }\n}\n\n// 3. D&R Yazar Arama\nif (!author) {\n  const authorMatch = html.match(/<a href=\"\\/yazar\\/[^\"]+\">\\s*([^<]+)\\s*<\\/a>/is);\n  if (authorMatch && authorMatch[1]) {\n    author = authorMatch[1].trim();\n  }\n}\n\nbook.thumbnail_url = coverUrl;\nbook.title = title;\nbook.author = author;\n\nreturn [{ json: book }];"
      },
      "id": "cb46ddda-ff3e-4e2f-b95c-3434a56da220",
      "name": "D&R Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        4960
      ]
    },
    {
      "parameters": {
        "jsCode": "let book = $json;\n\n// Hiçbir yerde başlık bile bulamadıysak Manuel Giriş Arayüzünü Tetikle\nif (!book.title) {\n  return [{\n    json: {\n      status: 'error',\n      message: 'Kitap hiçbir kaynakta bulunamadı, lütfen manuel giriniz.',\n      data: book // Sadece ISBN'i döner ki formda hazır yazsın\n    }\n  }];\n}\n\n// Başlık bulunduysa (kapak eksik kalsa bile) başarılı dön, arayüz kapak linkini manuel istesin\nreturn [{\n  json: {\n    status: 'success',\n    source: 'hybrid_fallback',\n    data: book\n  }\n}];"
      },
      "id": "ec377fef-12f6-4f54-ac91-1bf94525fec1",
      "name": "Nihai Kontrol",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        4784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a26af1dd-d188-40ef-b785-c1911446704f",
      "name": "API Cevabı Dön",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4976,
        4784
      ]
    },
    {
      "parameters": {
        "jsCode": "// AKILLI SORGU OLUŞTURUCU (SQL BUILDER)\n// Sözleşme: { action, resource, data, user_id }\n\nconst incoming = $json.body ?? $json;\nconst action = incoming.action;\nlet resource = incoming.resource || null;\nconst data = incoming.data || {};\nconst userId = incoming.user_id || null;\n\nif (!action) {\n  throw new Error('Eksik action alanı');\n}\n\nif (!resource) {\n  if (action === 'get_groups' || action === 'resolve_code') {\n    resource = 'k_t_groups';\n  } else if (action === 'login' || action === 'register') {\n    resource = 'k_t_users';\n  } else if (action === 'log_read' || action === 'dashboard_stats' || action === 'leaderboard_group' || action === 'authority_stats' || action === 'authority_students' || action === 'get_user_books' || action === 'undo_read_log') {\n    resource = 'k_t_read_logs';\n  } else if (action === 'add_book_edition' || action === 'get_library_books') {\n    resource = 'k_t_book_editions';\n  } else if (action === 'sync_user_badges') {\n    resource = 'k_t_user_badges';\n  } else if (action === 'get_book_comments' || action === 'add_comment') {\n    resource = 'k_t_book_comments';\n  }\n}\n\nconst allowedTables = ['k_t_groups', 'k_t_users', 'k_t_read_logs', 'k_t_badges', 'k_t_books', 'k_t_book_editions', 'k_t_user_badges', 'k_t_book_comments'];\nif (!resource || !allowedTables.includes(resource)) {\n  throw new Error(`Yetkisiz veya eksik tablo erişimi: ${resource || 'Belirtilmedi'}`);\n}\n\nlet query = '';\nlet params = [];\n\nif (action === 'get_groups') {\n  query = `SELECT id, name FROM k_t_groups WHERE type = $1 AND (parent_id = $2 OR ($2 IS NULL AND parent_id IS NULL)) ORDER BY name ASC`;\n  params = [data.type, data.parent_id || null];\n}\nelse if (action === 'resolve_code') {\n  query = `SELECT c.id as class_id, s.id as school_id, d.id as district_id, ci.id as city_id FROM k_t_groups c JOIN k_t_groups s ON c.parent_id = s.id JOIN k_t_groups d ON s.parent_id = d.id JOIN k_t_groups ci ON d.parent_id = ci.id WHERE c.join_code = $1 LIMIT 1`;\n  params = [data.code ? String(data.code).trim().toUpperCase() : ''];\n}\nelse if (action === 'login') {\n  query = `SELECT id, full_name, email, group_id, LOWER(role) AS role FROM k_t_users WHERE LOWER(email) = LOWER($1) AND password_hash = $2 LIMIT 1`;\n  params = [data.email, String(data.password || '')];\n}\nelse if (action === 'register') {\n  query = `WITH existing_user AS (SELECT id, full_name, email, group_id, LOWER(role) AS role FROM k_t_users WHERE LOWER(email) = LOWER($3) LIMIT 1), inserted_user AS (INSERT INTO k_t_users (group_id, full_name, email, password_hash, role) SELECT $1, $2, $3, $4, $5 WHERE NOT EXISTS (SELECT 1 FROM existing_user) RETURNING id, full_name, email, group_id, LOWER(role) AS role) SELECT id, full_name, email, group_id, role, false AS already_exists FROM inserted_user UNION ALL SELECT id, full_name, email, group_id, role, true AS already_exists FROM existing_user LIMIT 1`;\n  params = [data.group_id || null, data.full_name, data.email, String(data.password || ''), String(data.role || 'student').toLowerCase()];\n}\nelse if (action === 'add_book_edition') {\n  query = `WITH existing_book AS (SELECT id FROM k_t_books WHERE LOWER(title) = LOWER($1) AND LOWER(COALESCE(author, '')) = LOWER(COALESCE($2, '')) LIMIT 1), inserted_book AS (INSERT INTO k_t_books (title, author, category) SELECT $1, $2, $3 WHERE NOT EXISTS (SELECT 1 FROM existing_book) RETURNING id), book_pick AS (SELECT id FROM existing_book UNION ALL SELECT id FROM inserted_book LIMIT 1) INSERT INTO k_t_book_editions (isbn, book_id, page_count, thumbnail_url) VALUES ($4, (SELECT id FROM book_pick), $5, $6) ON CONFLICT (isbn) DO UPDATE SET book_id = EXCLUDED.book_id, page_count = EXCLUDED.page_count, thumbnail_url = EXCLUDED.thumbnail_url RETURNING isbn, book_id, page_count, thumbnail_url`;\n  params = [data.title, data.author || null, data.category || null, data.isbn, Number(data.page_count), data.thumbnail_url || null];\n}\nelse if (action === 'get_library_books') {\n  // Anti Graviti Optimizasyonu (Performans + Sayfalama)\n  query = `SELECT e.isbn, b.title, b.author, e.page_count, b.category, e.thumbnail_url, COUNT(DISTINCT r.user_id)::int as read_count FROM k_t_book_editions e JOIN k_t_books b ON e.book_id = b.id LEFT JOIN k_t_read_logs r ON e.isbn = r.book_isbn GROUP BY e.isbn, b.title, b.author, e.page_count, b.category, e.thumbnail_url ORDER BY e.isbn DESC LIMIT $1 OFFSET $2`;\n  params = [Number(data.limit) || 50, Number(data.offset) || 0];\n}\nelse if (action === 'get_user_books') {\n  // Anti Graviti Optimizasyonu (Finished ve Dropped Bayrakları, 0 sayfalık başlangıç logları dahil)\n  if (!userId) throw new Error('get_user_books için user_id zorunludur');\n  query = \\`SELECT e.isbn, b.title, b.author, e.page_count, e.thumbnail_url, b.category, COALESCE(SUM(r.pages_read), 0)::int as pages_read, MAX(r.read_date) as last_read_date, bool_or(r.note LIKE '[KT_EVENT]FINISH%') as finished, bool_or(r.note LIKE '[KT_EVENT]DROP%') as dropped FROM k_t_book_editions e JOIN k_t_books b ON e.book_id = b.id JOIN k_t_read_logs r ON e.isbn = r.book_isbn AND r.user_id = $1 GROUP BY e.isbn, b.title, b.author, e.page_count, e.thumbnail_url, b.category ORDER BY last_read_date DESC NULLS LAST\\`;\n  params = [userId];\n}\nelse if (action === 'log_read') {\n  if (!userId) throw new Error('log_read için user_id zorunludur');\n  query = `INSERT INTO k_t_read_logs (user_id, book_isbn, pages_read, read_date, note) VALUES ($1, $2, $3, $4, $5) RETURNING id, user_id, book_isbn, pages_read, read_date, note`;\n  params = [userId, data.book_isbn, Number(data.pages_read), data.read_date || null, data.note || null];\n}\nelse if (action === 'undo_read_log') {\n  if (!userId) throw new Error('undo_read_log için user_id zorunludur');\n  if (!data.log_id) throw new Error('undo_read_log için log_id zorunludur');\n  query = `DELETE FROM k_t_read_logs WHERE id = $1 AND user_id = $2 RETURNING id`;\n  params = [data.log_id, userId];\n}\nelse if (action === 'dashboard_stats') {\n  if (!userId) throw new Error('dashboard_stats için user_id zorunludur');\n  query = `WITH RECURSIVE base AS (SELECT book_isbn, pages_read, read_date::date AS read_date FROM k_t_read_logs WHERE user_id = $1), dates AS (SELECT DISTINCT read_date FROM base WHERE read_date IS NOT NULL), anchor AS (SELECT CASE WHEN EXISTS (SELECT 1 FROM dates WHERE read_date = CURRENT_DATE) THEN CURRENT_DATE WHEN EXISTS (SELECT 1 FROM dates WHERE read_date = (CURRENT_DATE - INTERVAL '1 day')::date) THEN (CURRENT_DATE - INTERVAL '1 day')::date ELSE NULL END AS start_date), streak(d) AS (SELECT start_date FROM anchor WHERE start_date IS NOT NULL UNION ALL SELECT (streak.d - INTERVAL '1 day')::date FROM streak WHERE EXISTS (SELECT 1 FROM dates WHERE read_date = (streak.d - INTERVAL '1 day')::date)) SELECT COALESCE((SELECT COUNT(DISTINCT book_isbn) FROM base WHERE book_isbn IS NOT NULL), 0) AS read_books_count, COALESCE((SELECT SUM(pages_read) FROM base), 0) AS total_pages, COALESCE((SELECT COUNT(*) FROM streak), 0) AS streak_days`;\n  params = [userId];\n}\nelse if (action === 'leaderboard_group') {\n  if (!data.group_id) throw new Error('leaderboard_group için group_id zorunludur');\n  query = `SELECT u.id AS user_id, u.full_name, COALESCE(SUM(CASE WHEN r.note IS NULL OR r.note NOT LIKE '[KT_EVENT]%' THEN r.pages_read ELSE 0 END), 0) AS total_pages FROM k_t_users u LEFT JOIN k_t_read_logs r ON r.user_id = u.id WHERE u.group_id = $1 AND LOWER(COALESCE(u.role, 'student')) = 'student' GROUP BY u.id, u.full_name ORDER BY total_pages DESC, u.full_name ASC LIMIT $2`;\n  params = [data.group_id, Number(data.limit) || 50];\n}\nelse if (action === 'authority_stats') {\n  query = `WITH monthly AS (SELECT TO_CHAR(DATE_TRUNC('month', read_date), 'YYYY-MM') AS month, SUM(pages_read)::int AS pages FROM k_t_read_logs WHERE read_date IS NOT NULL GROUP BY 1 ORDER BY 1 DESC LIMIT 6) SELECT COALESCE((SELECT SUM(pages_read) FROM k_t_read_logs), 0) AS total_pages, COALESCE((SELECT COUNT(*) FROM k_t_users WHERE LOWER(COALESCE(role, 'student')) = 'student'), 0) AS total_students, COALESCE((SELECT COUNT(DISTINCT user_id) FROM k_t_read_logs WHERE read_date >= (CURRENT_DATE - INTERVAL '30 day')), 0) AS active_students_30d, COALESCE((SELECT COUNT(DISTINCT book_isbn) FROM k_t_read_logs WHERE book_isbn IS NOT NULL), 0) AS distinct_books_started, COALESCE((SELECT JSON_AGG(ROW_TO_JSON(x)) FROM (SELECT month, pages FROM monthly ORDER BY month) x), '[]'::json) AS monthly`;\n}\nelse if (action === 'authority_students') {\n  query = `SELECT u.id AS user_id, u.full_name, u.email, COALESCE(SUM(r.pages_read), 0) AS total_pages, COUNT(DISTINCT r.book_isbn) FILTER (WHERE r.book_isbn IS NOT NULL) AS books_started FROM k_t_users u LEFT JOIN k_t_read_logs r ON r.user_id = u.id WHERE LOWER(COALESCE(u.role, 'student')) = 'student' GROUP BY u.id, u.full_name, u.email ORDER BY total_pages DESC, u.full_name ASC LIMIT $1`;\n  params = [Number(data.limit) || 200];\n}\nelse if (action === 'sync_user_badges') {\n  if (!userId) throw new Error('sync_user_badges için user_id zorunludur');\n  query = `WITH RECURSIVE base AS (SELECT book_isbn, pages_read, read_date::date AS read_date, note FROM k_t_read_logs WHERE user_id = $1), dates AS (SELECT DISTINCT read_date FROM base WHERE read_date IS NOT NULL), anchor AS (SELECT CASE WHEN EXISTS (SELECT 1 FROM dates WHERE read_date = CURRENT_DATE) THEN CURRENT_DATE WHEN EXISTS (SELECT 1 FROM dates WHERE read_date = (CURRENT_DATE - INTERVAL '1 day')::date) THEN (CURRENT_DATE - INTERVAL '1 day')::date ELSE NULL END AS start_date), streak(d) AS (SELECT start_date FROM anchor WHERE start_date IS NOT NULL UNION ALL SELECT (streak.d - INTERVAL '1 day')::date FROM streak WHERE EXISTS (SELECT 1 FROM dates WHERE read_date = (streak.d - INTERVAL '1 day')::date)), metrics AS (SELECT COALESCE((SELECT SUM(pages_read) FROM base WHERE pages_read > 0), 0) AS total_pages, COALESCE((SELECT COUNT(DISTINCT book_isbn) FROM base WHERE note LIKE '[KT_EVENT]FINISH%'), 0) AS total_books, COALESCE((SELECT COUNT(*) FROM streak), 0) AS read_streak), eligible AS (SELECT b.id AS badge_id FROM k_t_badges b CROSS JOIN metrics m WHERE (b.requirement_type = 'total_pages' AND m.total_pages >= b.requirement_value) OR (b.requirement_type = 'total_books' AND m.total_books >= b.requirement_value) OR (b.requirement_type = 'read_streak' AND m.read_streak >= b.requirement_value)), inserted AS (INSERT INTO k_t_user_badges (user_id, badge_id, earned_at) SELECT $1, e.badge_id, NOW() FROM eligible e LEFT JOIN k_t_user_badges ub ON ub.user_id = $1 AND ub.badge_id = e.badge_id WHERE ub.badge_id IS NULL RETURNING badge_id) SELECT b.id, b.name, b.icon_key, b.requirement_type, b.requirement_value, CASE WHEN i.badge_id IS NOT NULL THEN true ELSE false END AS newly_earned FROM k_t_badges b JOIN k_t_user_badges ub ON ub.badge_id = b.id AND ub.user_id = $1 LEFT JOIN inserted i ON i.badge_id = b.id ORDER BY b.requirement_type ASC, b.requirement_value ASC`;\n  params = [userId];\n}\nelse if (action === 'get_book_comments') {\n  // Bizim AI Güvenlik Duvarı Kontrolümüz (Sadece onaylıları getirir)\n  query = `SELECT c.id, c.comment_text, c.created_at, u.full_name FROM k_t_book_comments c JOIN k_t_users u ON c.user_id = u.id WHERE c.book_isbn = $1 AND c.status = 'approved' ORDER BY c.created_at DESC`;\n  params = [data.book_isbn];\n}\nelse if (action === 'add_comment') {\n  if (!userId) throw new Error('add_comment için user_id zorunludur');\n  // Yeni eklenenleri direkt approved yapıyoruz (AI eklendiğinde pending yapacağız) ve created_at dönüyoruz.\n  query = `INSERT INTO k_t_book_comments (book_isbn, user_id, comment_text, status) VALUES ($1, $2, $3, $4) RETURNING id, status, created_at`;\n  params = [data.book_isbn, userId, data.comment_text, data.status || 'approved'];\n}\nelse if (action === 'read') {\n  const fields = Array.isArray(data.fields) && data.fields.length > 0 ? data.fields : ['*'];\n  if (fields[0] !== '*') {\n    const invalidField = fields.find((f) => !/^[a-zA-Z0-9_]+$/.test(f));\n    if (invalidField) throw new Error(`Geçersiz field parametresi: ${invalidField}`);\n  }\n\n  const fieldSql = fields[0] === '*' ? '*' : fields.join(', ');\n  query = `SELECT ${fieldSql} FROM ${resource}`;\n\n  if (data.filters && typeof data.filters === 'object' && Object.keys(data.filters).length > 0) {\n    const conditions = [];\n    for (const [key, value] of Object.entries(data.filters)) {\n      if (!/^[a-zA-Z0-9_]+$/.test(key)) throw new Error(`Geçersiz filter anahtarı: ${key}`);\n      params.push(value);\n      conditions.push(`${key} = $${params.length}`);\n    }\n    query += ` WHERE ${conditions.join(' AND ')}`;\n  }\n\n  if (data.order) {\n    const orderValue = String(data.order).trim();\n    if (!/^[a-zA-Z0-9_,.\\s\"]+$/.test(orderValue)) throw new Error('Geçersiz order parametresi');\n    query += ` ORDER BY ${orderValue}`;\n  }\n\n  if (data.limit !== undefined && data.limit !== null) {\n    const limitValue = Number(data.limit);\n    if (!Number.isInteger(limitValue) || limitValue <= 0) throw new Error('Geçersiz limit parametresi');\n    params.push(limitValue);\n    query += ` LIMIT $${params.length}`;\n  }\n\n  if (data.offset !== undefined && data.offset !== null) {\n    const offsetValue = Number(data.offset);\n    if (!Number.isInteger(offsetValue) || offsetValue < 0) throw new Error('Geçersiz offset parametresi');\n    params.push(offsetValue);\n    query += ` OFFSET $${params.length}`;\n  }\n}\nelse {\n  throw new Error(`Tanımsız action: ${action}`);\n}\n\nreturn { query, params, resource };"
      },
      "id": "d8cfdc3a-4212-4b68-afb4-20fa660cfff8",
      "name": "Smart SQL Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        5072
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "dd9224ea-f416-4d3c-a987-4b834845174e",
      "name": "Universal Executor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2832,
        5072
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "chKvdYJk3OigwSvo",
          "name": "n8n_test"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"success\", resource: $('Smart SQL Builder').first().json.resource, data: $input.all().filter(i => Object.keys(i.json).length > 0).map(i => i.json) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5dce7b47-3c3b-49b7-9391-d839801f418f",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3056,
        5072
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Action Yönlendirici",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Yönlendirici": {
      "main": [
        [
          {
            "node": "Lokal DB Kontrolü",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Smart SQL Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lokal DB Kontrolü": {
      "main": [
        [
          {
            "node": "Bizde Var Mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bizde Var Mı?": {
      "main": [
        [
          {
            "node": "Lokalden Dön",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Books API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Books API": {
      "main": [
        [
          {
            "node": "Google Verisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Verisi": {
      "main": [
        [
          {
            "node": "Google Yeterli Mi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Yeterli Mi?": {
      "main": [
        [
          {
            "node": "Nihai Kontrol",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kitapyurdu Arama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitapyurdu Arama": {
      "main": [
        [
          {
            "node": "Kitapyurdu Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitapyurdu Format": {
      "main": [
        [
          {
            "node": "Kitapyurdu Yeterli Mi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitapyurdu Yeterli Mi?": {
      "main": [
        [
          {
            "node": "Nihai Kontrol",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "D&R Arama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D&R Arama": {
      "main": [
        [
          {
            "node": "D&R Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D&R Format": {
      "main": [
        [
          {
            "node": "Nihai Kontrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nihai Kontrol": {
      "main": [
        [
          {
            "node": "API Cevabı Dön",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart SQL Builder": {
      "main": [
        [
          {
            "node": "Universal Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Universal Executor": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f076ed0cacd38fc2ba8ffa68ee2e157985f657f98d37b30667e4135afe7d023"
  }
}